kind: EncryptionConfig
apiVersion: v1
resources:
  - resources:
      - secrets
    providers:
      - aescbc:
          keys:
            - name: key1
              secret: F1ivTgx1kKfiIKKyHuPn0jT6/KHqEG4toVnCQUUSyRg=
      - identity: {}