data-dir: /var/lib/etcd/{{ hostvars[inventory_hostname]['ansible_facts']['hostname'] }}.etcd
client-transport-security:
  cert-file: /etc/etcd/ssl/kubernetes.pem
  key-file: /etc/etcd/ssl/kubernetes-key.pem
  trusted-ca-file: /etc/etcd/ssl/ca.pem
peer-transport-security:
  cert-file: /etc/etcd/ssl/kubernetes.pem
  key-file: /etc/etcd/ssl/kubernetes-key.pem
  trusted-ca-file: /etc/etcd/ssl/ca.pem
name: {{ hostvars[inventory_hostname]['ansible_facts']['hostname'] }}
initial-advertise-peer-urls: https://{{ hostvars[inventory_hostname]['ansible_facts']['ens5']['ipv4']['address'] }}:2380
listen-peer-urls: https://{{ hostvars[inventory_hostname]['ansible_facts']['ens5']['ipv4']['address'] }}:2380,http://127.0.0.1:2380
advertise-client-urls: https://{{ hostvars[inventory_hostname]['ansible_facts']['ens5']['ipv4']['address'] }}:2379
listen-client-urls: https://{{ hostvars[inventory_hostname]['ansible_facts']['ens5']['ipv4']['address'] }}:2379,http://127.0.0.1:2379
initial-cluster-state: new
initial-cluster: {% for host in groups['controllers'] %}{{ hostvars[host]['ansible_facts']['hostname'] }}=https://{{ hostvars[host]['ansible_facts']['ens5']['ipv4']['address'] }}:2380{% if not loop.last %},{% endif %}{% endfor %}
